@import "tailwindcss";

@font-face {
  font-family: "Aesthet Nova";
  src: url("/fonts/AesthetNova-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Aesthet Nova";
  src: url("/fonts/AesthetNova-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Aesthet Nova";
  src: url("/fonts/AesthetNova-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

@theme {
  --font-serif: "Aesthet Nova", serif;
}
